<div class="overlay">
  <div class="container">
    <header>Change profile info</header>

    <form #f1="ngForm">

      <div class="field">
        <label for="name">User name</label>
        <input type="text" name="name" id="name" [(ngModel)]="user.name" #name="ngModel">
      </div>

      <div class="field">
        <label for="imgUrl">Profile image URL</label>
        <input type="text" name="imgUrl" id="imgUrl" [(ngModel)]="user.imgUrl" #imgUrl="ngModel">
      </div>

      <div class="modalFooter">
        <button type="button" (click)="handleUpdateUserInfo()">Save</button>
        <button type="button" (click)="handleDiscardChanges()">Discard</button>
      </div>

    </form>



    <button type="button" class="closeButton" (click)="handleCloseProfileModal()">
      <img src="assets/icons/close.svg" alt="Close Info Modal">
    </button>
  </div>
</div>
