<div>
  <div class="countdownContainer" (click)="handleUpdateCountdown()">
    <div>
      <span>{{ minuteLeft }}</span>
      <span>{{ minuteRight }}</span>
    </div>
    <span>:</span>
    <div>
      <span>{{ secondLeft }}</span>
      <span>{{ secondRight }}</span>
    </div>
  </div>

  <button class="countdownButton" (click)="startCountdown()">Start cycle</button>
</div>

<div *ngIf="isNewCountdownTimeModalOpen">
  <app-change-countdown-time-modal></app-change-countdown-time-modal>
</div>
