<div>
  <div class="countdownContainer" (click)="handleUpdateCountdown()">
    <div>
      <span>{{ minuteLeft }}</span>
      <span>{{ minuteRight }}</span>
    </div>
    <span>:</span>
    <div>
      <span>{{ secondLeft }}</span>
      <span>{{ secondRight }}</span>
    </div>
  </div>
  <div *ngIf="hasFinished; else notFinished">
    <button disabled class="countdownButton">
      Closed cycle
    </button>
  </div>
  <ng-template #notFinished>

    <div *ngIf="!isActive; else notActive">
      <button class="countdownButton" (click)="startCountdown()">Start cycle</button>
    </div>

    <ng-template #notActive>
      <button class="countdownButton countdownLeaveButton" (click)="resetCountdown()">Leave cycle</button>
    </ng-template>
  </ng-template>

</div>

<div *ngIf="isNewCountdownTimeModalOpen">
  <app-change-countdown-time-modal></app-change-countdown-time-modal>
</div>
