<app-header></app-header>
<div class="tableContainer" *ngIf="!isMobile">
  <table mat-table [dataSource]="dataSource">

    <!-- id Column -->
    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.ranking}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element"> {{element.level}} </td>
    </ng-container>

    <!-- sumCountdownTime Column -->
    <ng-container matColumnDef="sumCountdownTime">
      <th mat-header-cell *matHeaderCellDef> Total Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.sumCountdownTime}} </td>
    </ng-container>

    <!-- challenges Column -->
    <ng-container matColumnDef="challengesCompleted">
      <th mat-header-cell *matHeaderCellDef> Completed Challenges </th>
      <td mat-cell *matCellDef="let element"> {{element.challengesCompleted}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<div class="tableContainer" *ngIf="isMobile">
  <table mat-table [dataSource]="dataSource">

    <!-- Rank Column -->
    <ng-container matColumnDef="ranking">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let element"> {{element.ranking}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- sumCountdownTime Column -->
    <ng-container matColumnDef="sumCountdownTime">
      <th mat-header-cell *matHeaderCellDef> Total Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.sumCountdownTime}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsMobile"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsMobile;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
